@import "./style.css";
.ranking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -2px;
  background: rgba(var(--dark), 0.85);
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(var(--dark), 0.18);
  border-radius: 12px;
}

.table-row {
  border: none;
  border-bottom: 1px solid rgba(var(--xlight), 0.1);
  cursor: pointer;
  transition: background 0.2s;
}

.table-cell {
  border: none;
  border-bottom: 1px solid rgba(var(--xlight), 0.3);
  color: rgb(var(--light));
  text-align: center;
  padding: 2px 3px;
}

.table-header {
  border: none;
  border-bottom: 1px solid rgb(var(--light));
  padding: 4px;
  color: rgb(var(--xlight));
  background: rgba(var(--dark), 0.7);
  font-family: "Lucida Sans", "Perpetua", serif;
}

.multi-select-header {
  font-family: "Lucida Sans", "Perpetua", serif;
  color: rgb(var(--xlight));
  padding: 2px;
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

.multi-select {
  width: 100%;
  height: 130px;
  background: rgb(var(--dark));
  color: rgb(var(--light));
  border: 1px solid rgb(var(--accent));
  border-radius: 6px;
  padding: 4px;
  font-family: "Lucida Sans", "Perpetua", serif;
}

.multi-select option:hover {
  background: rgba(var(--accent), 0.08);
}

.multi-select::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.multi-select::-webkit-scrollbar-thumb {
  background: rgba(var(--xlight), 0.4);
  border-radius: 4px;
}

.multi-select::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--xlight), 0.6);
}

.multi-select::-webkit-scrollbar-track {
  background: transparent;
}

.detail-card {
  background: rgba(var(--dark), 0.9);
  color: rgb(var(--light));
  border: 1px solid rgba(var(--accent), 0.4);
  border-radius: 12px;
  padding: 0 2rem 1rem 2rem;
  margin: 2rem 0;
  box-shadow: 0 4px 10px rgba(var(--dark), 0.4);
  font-family: "Lucida Sans", "Perpetua", serif;
  line-height: 1.5;
}
.detail-card h2 {
  color: rgb(var(--accent));
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.detail-card b {
  color: rgb(var(--xlight));
}
.detail-card div {
  margin-bottom: 0.75rem;
}

.plot-card {
  background: rgba(var(--dark), 0.9);
  color: rgb(var(--light));
  border: 1.5px solid rgba(var(--accent), 0.4);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(var(--dark), 0.4);
  font-family: "Lucida Sans", "Perpetua", serif;
}

.plot-card h2 {
  color: rgb(var(--xlight));
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.proxy-row {
  display: grid;
  grid-template-columns:
    minmax(80px, 0.6fr)
    minmax(10px, 0.1fr)
    minmax(120px, 0.5fr)
    minmax(220px, 1fr)
    minmax(95px, 0.5fr)
    minmax(0px, 1.2fr);
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: rgb(var(--light));
}

.slider {
  width: 120px;
  margin: 0 1rem 0 0.5rem;
  accent-color: rgb(var(--accent));
  background: transparent;
  border-radius: 6px;
  font-family: "Lucida Sans", "Perpetua", serif;
}
.drop-down {
  margin-left: 0.5rem;
  background: rgba(var(--xlight), 0.06);
  color: rgb(var(--light));
  border: 1px solid rgba(var(--accent), 0.25);
  border-radius: 8px;
  font-family: "Lucida Sans", "Perpetua", serif;
  padding: 0.25rem 0.5rem;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgb(var(--accent));
  border-top: 5px solid #000000ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.menu-item {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: rgb(var(--light));
}
.menu-item:focus,
.menu-item:active {
  color: rgb(var(--light));
}
.menu-item:hover {
  background: rgba(var(--accent), 0.1);
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 30;
  width: 234;
  background: rgb(var(--accent));
  color: rgb(24, 20, 27);
  padding: 21px 50px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(var(--dark), 0.2);
  z-index: 1000;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  opacity: 1;
  animation: fade-out 1s ease 5s forwards;
}

.highlight-button {
  font-size: 14px;
  color: rgb(var(--light));
  padding: 2px 8px;
  background: rgb(var(--dark));
  border: 1px solid rgb(var(--accent));
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(var(--accent), 0.15);
  transition:
    box-shadow 0.15s,
    border-color 0.1s;
}
.highlight-button:hover {
  background: rgba(var(--accent), 0.08);
  box-shadow: 0 4px 12px rgba(var(--accent), 0.15);
}

.legend {
  background: rgba(215, 218, 223, 0.75);
  padding: 2px 3px;
  border-radius: 12px;
  font-size: 12px;
  box-shadow: 0 2px 6px rgba(var(--dark), 0.15);
}
